.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo i{
    font-size: 2rem;
}
.navlinks{
    display: flex;
    gap: 30px;
    list-style-type: none;
}
.navlinks li a{
    color: inherit;
    text-decoration: none;
    font-size: 1.4rem;
}